html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#menu {
  position: center;
  top: 10px;
  left: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

button {
  margin-bottom: 5px;
}
